:root {
  /* Tema Claro */
  --primary-color-light: #3498db;
  --secondary-color-light: #2e6dcc;
  --background-color-light: #ecf0f1;
  --text-color-light: #34495e;
  --card-background-light: #fff;
  --card-active-light: #e0f7fa;

  /* Tema Escuro */
  --primary-color-dark: #2980b9;
  --secondary-color-dark: #2c3e50;
  --background-color-dark: #2c3e50;
  --text-color-dark: #ecf0f1;
  --card-background-dark: #34495e;
  --card-active-dark: #2c3e50;

  /* Tema Padrão (Claro) */
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --card-background: var(--card-background-light);
  --card-active: var(--card-active-light);
}

/* Classe para o tema escuro */
.dark-theme {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --card-background: var(--card-background-dark);
  --card-active: var(--card-active-dark);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3a7bc8;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}